@font-face {
    font-family: 'hello-world';
    src: url(../assests/fonts/Mistery\ Silent.otf);
}
@font-face{
    font-family: "hello-mars";
    src: url(../assests/fonts/Orange\ Gummy.ttf);
}
@font-face {
    font-family: hello-jupiter;
    src: url(../assests/fonts/MarthaHayden-Regular.otf);
}
@font-face {
    font-family: hello-sun;
    src: url(../assests/fonts/CareeraScript_PERSONAL_USE_ONLY.otf);
}
@keyframes haha{
    from{bottom:500px;} to {bottom:0px;}
}
@keyframes hr{
    from{left:200px;} to {left: 0px;}
}
#para, header h2{
    animation: haha 1s ease;
    position: relative;
}
header h3{
    animation: hr 1s ease;
    position: relative;
}
@media (max-width:570px){
     div{
        margin-right: 25px;margin-top: 38px;
    }
    img{
        height: 140px;width: 250px;margin-left: -2px;
    }
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 18px;
    }

}
@media (max-width:1100px){
     div{
        margin-right: 20px;margin-top:14px ;
    }
    img{
        margin-left: -20px; 
    }
}
@media (max-width:1022px){
     div{
        margin-right: 37px;margin-top: 40px;
    }
    img{
        height: 210px;width: 400px;margin-left: -12px;
    }
    header h2{
        font-size: 47px;
    }
    header h3{
        font-size: 36px;
    }
}
@media (max-width:850px){
     div{
        margin-right: 32px;margin-top: 52px;
    }
    img{
        height: 180px;width: 340px;margin-left: -8px;
    }
    header h2{
        font-size: 29px;
    }
    header h3{
        font-size: 22px;
    }
    article h2{
        font-size: 36px;
        text-indent: 40px;
    }
    #para{
        font-size: 23px;
    }
    article div h3{
        font-size: 20px;
    }
    article div p{
        font-size: 18px;text-indent: 16px;
    }
}
@media (max-width:620px){
     div{
        margin-right: 25px;margin-top: 43px;
    }
    img{
        height: 160px;width: 300px;margin-left: -2px;
    }
    h2{
        font-size: 27px;
    }
    h3{
        font-size: 20px;
    }
    article h2{
        font-size: 30px;
        text-indent: 30px;
    }
    #para{
        font-size: 20px;
    }
    article div h3{
        font-size: 22px;
    }
    article div p{
        font-size: 17px;text-indent: 20px;
    }
}
@media (max-width:450px){
     div{
        margin-right: 25px;margin-top: 29px;
    }
    img{
        height: 120px;width: 190px;margin-left: -2px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 16px;
    }
    article h2{
        font-size: 25px;
        text-indent: 20px;
    }
    #para{
        font-size: 16px;
    }
    article div h3{
        font-size: 20px;
    }
    article div p{
        font-size: 16px;text-indent: 16px;
    }
}
@media (max-width:344px){
    div{
        margin-right: 10px;margin-top: 18px;
    }
    img{
        height: 100px;width: 150px;margin-left: -2px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 16px;
    }
    article h2{
        font-size: 25px;
        text-indent: 20px;
    }
    #para{
        font-size: 16px;
    }
    article div h3{
        font-size: 20px;
    }
    article div p{
        font-size: 16px;text-indent: 16px;
    }
}

