header{
    z-index: 110;
}
main{
    background-image: url(https://images.pexels.com/photos/1739842/pexels-photo-1739842.jpeg?cs=srgb&dl=pexels-hiteshchoudhary-1739842.jpg&fm=jpg);
}
#gogo{
    height: 220px;
    width: 325px;
}
#anchor:hover{
    transform: scale(1.1);
    transition: all 1s ease;
}
article div ul button:hover{
    transition: all 1s ease ;
    transform: scale(1.2);
}
#sigma:hover{
    transition: all 1s ease;
    transform: scale(0.8);
}

