@keyframes to-left{
    from{right:400px;} to {right:0px;}
}
@keyframes to-right{
    from{left:400px;} to {left:0px;}
}
header{
    z-index: 110;
}
main{
    background-image: url(https://images.pexels.com/photos/1739842/pexels-photo-1739842.jpeg?cs=srgb&dl=pexels-hiteshchoudhary-1739842.jpg&fm=jpg);
}
article{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm6klCifVcgevOkMlm8AQbKCqHxrrtsTsTpw&s);
    background-repeat: no-repeat;
    background-position: center;
}
#gogo{
    height: 220px;
    width: 325px;
}
article div ul button{
    transition: all 1s ease ;
    transform: scale(1);
}
article div ul button:hover{
    transition: all 1s ease ;
    transform: scale(1.2);
}
#sigma{
    transition: all 1s ease;
    transform: scale(1);
}
#sigma:hover{
    transition: all 1s ease;
    transform: scale(0.8);
}
#hero{
    animation: to-left 2s ease;
}
#heero{
    animation: to-right 2s ease;
}
footer div ul li:hover{
    text-decoration: underline;
}
#sec input{
    border-radius: 0px,0px,5px,5px;
}
#sec button{
     transition: all 0.7s ease;
}
#sec button:hover{
    transition: all 0.7s ease;
}