header div #f li a:hover{
    transition: all 1s ease;
}
header div #f li a{
    transition: all 1s ease;
}
@keyframes to-right{
    from{left: 400px;} to{left: 0px;}
}
@keyframes to-left{
    from{right: 400px;} to{right: 0px;}
}
@keyframes to-bottom{
    from{top: 500px;} to{top: 0px;}
}
@media (max-width:400px){
    header div #f li a{display: none;}
    h1{width: 120px;}
    #pp{display: none;}
    #image img{height: 300px;}
    #hello-pic-three{height: 200px; width: 550px;}
    #kl p{font-size: 8px; margin-top: 0px;}
    #kl{margin-top: 5px;}
    #fo h2{font-size: 16px;} #fo p{ font-size: 12px; margin: auto;}
    #fo img{height:200px ;}
    #loop{flex-direction: column; gap: 20px;}
    #hello-pic-five{width: 90%; margin: auto; height: 300px;}
    #opa{flex-direction: column;}
    #opa div{margin-left: 10px;}
    #opa ul figure{height: 50px; width: 50px;}
    #uio p{width: 160%;}
    #uio h2{width: 160%;}
    #hello-pic-six{height: 200px;}

}
@media (max-width:640px){
    header div #f li a{display: none;}
    h1{width: 140px;}
    #pp{display: none;}
    #image img{height: 300px;}
    #hello-pic-three{height: 250px; width: 670px;}
    #kl p{font-size: 12px; margin-top: 0px;}
    #kl{margin-top: 5px;}
    #fo h2{font-size: 19px;} #fo p{ font-size: 12px; margin: auto;}
    #fo img{height:250px;}

}
#hello-pic{
    animation: to-bottom 2s ease;
}
#hello-pic-two{
    animation: to-right 1.6s ease;
}
#hello-pic-three{
    animation: to-left 1.6s ease;
}
#loop{
    animation: to-bottom 4s ease;
}
#opa ul {
    width: 400px;
}
