header div #f li a:hover{
    transition: all 1s ease;
}
header div #f li a{
    transition: all 1s ease;
}
@keyframes to-right{
    from{left: 400px;} to{left: 0px;}
}
@keyframes to-left{
    from{right: 400px;} to{right: 0px;}
}
@keyframes to-bottom{
    from{top: 500px;} to{top: 0px;}
}

@media (max-width:400px){
    header div #f li a{display: none;}
    h1{width: 120px;}
    #pp{display: none;}
    #image img{height: 300px;}
    #hello-pic-three{height: 200px; width: 550px;}
    #kl p{font-size: 8px; margin-top: 0px;}
    #kl{margin-top: 5px;}
    #fo h2{font-size: 16px;} #fo p{ font-size: 12px; margin: auto;}
    #fo img{height:200px ;}
    #loop{flex-direction: column; gap: 20px;}
    #hello-pic-five{width: 90%; margin: auto; height: 300px;}
    #opa{flex-direction: column;}
    #opa div{margin-left: 10px;}
    #opa ul figure{height: 50px; width: 50px;}
    #uio p{width: 160%;}
    #uio h2{width: 160%;}
    #hello-pic-six{height: 220px; margin-top: 10px;}
    #o{width: 100%; margin: auto; margin-left: -20px;}
    #o p,#o h2{width: 120%;}
    #ol2{flex-direction: column; margin-left: 30px;}
    #yo{flex-direction: column-reverse; width: 90%; margin: auto; margin-top: 30px;}
    #yo h2{font-size: 25px;}
    #yo img{height: 300px; width: 120%; margin: auto; margin-top: 30px;}
    #yo-div img{height: 20px; width: 20%; padding-left: 7px; border: none; margin: auto;}
    #poop div img{height: 200px;}

}
@media (max-width:545px){
    #m{flex-direction: column;}
    #m figure{width:100%;}
}

@media (max-width:640px){
    header div #f li a{display: none;}
    h1{width: 140px;}
    #pp{display: none;}
    #image img{height: 300px;}
    #hello-pic-three{height: 250px; width: 670px;}
    #kl p{font-size: 12px; margin-top: 0px;}
    #kl{margin-top: 5px;}
    #fo h2{font-size: 19px;} #fo p{ font-size: 12px; margin: auto;}
    #fo img{height:250px;}
    #hello-pic-six{height: 260px; margin-top: 28px;}
    #o{width: 100%; margin: auto; margin-left: -20px;}
    #o p,#o h2{width: 120%; margin-left: 13px;}
    #ol2{flex-direction: column; margin-left: 30px;}
    #yo{flex-direction: column-reverse; width: 90%; margin: auto; margin-top: 30px;}
    #yo h2{font-size: 28px;}
    #yo img{height: 300px; width: 120%; margin: auto; margin-top: 30px;}
    #yo-div img{height: 60px; width: 20%; padding-left: 7px; border: none; margin: auto;}
    #pap{flex-direction: column; width: 90%; margin: auto; margin-top: 40px;}
    #pap img{margin-top: 10px;}
    #poop{margin-left: 20px;}
    #poop-div{width: 100%; margin: auto;}
    #poop h2{font-size: 25px;}
    #poop div img{width: 80%; margin: auto;}
}
@media (max-width:768px){
    h2{font-size: 22px; text-align: center;}
    #zc{flex-direction: column; gap: 20px;}
    #zc div {width: 75%;}
    #klo{padding-left: 0px;}
}
#h:hover #l{
    display: block;
}
#first:hover #first-ul , #second:hover #second-ul , #third:hover #third-ul , #fourth:hover #fourth-ul , #fifth:hover #fifth-ul{
    display: block;
}
#hello-pic{
    animation: to-bottom 2s ease;
}
#hello-pic-two,#heading-two{
    animation: to-right 1.6s ease;
}
#hello-pic-three,#hello-pic-seven{
    animation: to-left 1.6s ease;
}
#loop{
    animation: to-bottom 4s ease;
}
#loopa{
    animation: to-bottom 6s ease;
}
#opa ul {
    width: 400px;
}
#para{
    animation: to-right 4.7s ease;
}
#yo-div{
    animation: to-right 7s ease-out;
}
