
 header ul li button:hover{
    transition: all 0.5s ease-in-out;  
}

article{
    background-image: url(https://static.vecteezy.com/system/resources/previews/027/565/484/non_2x/hands-giving-receiving-charity-donation-coin-vector.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
main{
    background-repeat: no-repeat;
    background-position: center;
}
article div ul button:hover{
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}
@keyframes hello{
    from {right:400px;} to {right:0px;}
}
#omega {
    animation: hello 1s ease-in;
}
label{
    width: 400px;
}
#sigma:hover{
    transform: scale(0.8);
    transition: all 1s linear;
}