header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4IwCSAGXo-PO3f8GAPl97bPoWe7-eTbLtfQ&s);
    background-position: center;
    background-size: 400px auto;
    background-repeat: no-repeat;

    
}